[build]
  base = "frontend"
  command = "npm ci --legacy-peer-deps && npm run build"
  publish = "frontend/dist/frontend"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "20.11.0"
  NPM_VERSION = "10.2.4"